<%- include('header.ejs') %>


<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">

            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652702186852.jpeg" alt="blog1" />
                     
                    <h3> itm pandu</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>pandu boi  </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/WhatsApp Image 2022-05-01 at 20.18.13.jpeg" alt="blog1" />
                     
                    <h3> ddddd</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Discription- </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652099173011.jpeg" alt="blog1" />
                     
                    <h3> sss</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Discription </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652099186927.jpg" alt="blog1" />
                     
                    <h3> aaa</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Discription </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652700834608.jpeg" alt="blog1" />
                     
                    <h3> sss</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Discription </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
          
        </div>
    </div>
</section>
<%- include('footer.ejs') %>