
<%- include('header.ejs')   %>

<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
            <div class="intro-text-box">
                <h1>Aaj Kamaenga To Kal Khaenga</h1>
                <p>Some Inner Innner Air Air Wakka Wakka Air Air some iner air is all above us this time in africa wongoo air bongo air some inner inner air stop</p>
            </div>
        </div>
        <img src="assets/images/banner.jpg" alt="banner" />
    </div>
</section>
<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">

            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652702186852.jpeg" alt="blog1" />
                     
                    <h3>Kya Bolti Public</h3>
                    <p>Sibam<span>RAJPUT</span> as <span>idtzshivamrajput</span></p>
                    <p>Haan Meri jaan kaisa hai tu bhoi  </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/WhatsApp Image 2022-05-01 at 20.18.13.jpeg" alt="blog1" />
                     
                    <h3>Amma Miya </h3>
                    <p>as <span>Pizza boy</span> seen in <span> Terminator Salvation</span></p>
                    <p>Amma Miya has sold almost 2 lakhs+ pizza in the Judgement Day with Alex Albon As thier first commuter. </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652099173011.jpeg" alt="blog1" />
                     
                    <h3>Aaakhri Pazzta</h3>
                    <p>Ritewsh <span>Kurmi</span> on <span>October 22, 2018</span></p>
                    <p>Sebestian Vettel noticed the last surviving pazzta n Italian Streets of Vancouver </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652099186927.jpg" alt="blog1" />
                     
                    <h3>Saitama </h3>
                    <p>as<span>ONE-PUNCH-MAN</span> dob <span> Before Common Era</span></p>
                    <p>No matter whi the enemy is it can be destroyed with a single punch, and all tghe enemy as a whole is destroyed </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="/upload/image_1652700834608.jpeg" alt="blog1" />
                     
                    <h3>Naruto HAIKUMA</h3>
                    <p>seen in <span></span> Netflix Series <span>the boy</span></p>
                    <p>He was the one who possesed the Silver Grey Fox  </p>
                    <a href="detail.html" class="btn btn-danger">Read more...</a>
                </div>

            </div>
            
            
            
             
            
             
        </div>
    </div>
</section>

<%- include('footer.ejs')   %>










<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>